.container-input {
    position: relative;
}
.search-box {
    padding: 0.6rem 0.3rem;
    border: none;
    background-color: white;
    width: 98%;
    font-size: 1rem;
    outline: none;
    border-radius: 0.2rem 0.2rem 0 0;
}

.container-loader {
    position: absolute;
    right: 3rem;
    bottom: 2.2rem;
}
